@{
    ViewData["Title"] = "Home Page";
}
@model List<Bowler>

<h1>List of Bowlers</h1>

<ul>
    @foreach (var b in Model)
    {
        <li><i>Name:</i> @b.BowlerLastName, @b.BowlerFirstName - @b.BowlerMiddleInit</li>
        <li><i>Address:</i> @b.BowlerAddress @b.BowlerCity, @b.BowlerState - @b.BowlerZip</li>
        <li><i>Phone Number:</i> (@b.BowlerPhoneNumber)</li>
        <br />
    }
</ul>
