@{
    ViewData["Title"] = "Home Page";
}
@model List<Bowler>

<h1>List of Bowlers</h1>

<ul>
    @foreach (var b in Model)
    {
        <li>@b.BowlerLastName , @b.BowlerFirstName - @b.BowlerMiddleInit</li>
        <li>@b.BowlerAddress @b.BowlerCity , @b.BowlerState - @b.BowlerZip</li>
        <li>(@b.BowlerPhoneNumber)</li>
        <br />
    }
</ul>
